.listing {
  width: 25%;
  min-width: 300px;
  max-width: 400px;
  position: relative;
  margin: 20px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: lightgray;
}

.listing::before {
  content: "";
  display: block;
  padding-bottom: calc((5 / 4) * 100%);
}
