.modal {
  width: 80%;
  height: 80%;
  max-width: 1600px;
  border-radius: 20px;
  position: relative;
}

.modal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.modal__info {
  position: absolute;
  left: 10px;
  bottom: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
