.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 25px;
}

.properties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 5px;
}
